/* Шапка сайта */

.header {
  position:relative;
  display: grid;
  align-items: center;
  font-size: 18px;
  grid-template-columns: 1fr min-content 1fr;
  padding: 85px 50px 90px;
  font-weight: 400;
  color: #000;
}

.link-list {
  display: flex;
  gap: 33px;
  text-transform: lowercase;
  flex-direction: row;
}

.link-list_item {
  list-style-type: circle;
}

.link-list_item:first-of-type {
  list-style: none;
}

.active-link {
  text-decoration: none;
}

.logo-header {
  min-width: 137px;
  padding-top: 7px;
}

.contacts {
  display: grid;
  justify-self: end;
  margin-right: 35px;
  line-height: 24px;
  padding-top: 3px;
  max-width: 204px;
  font-style: normal;
}

.header-menu {
  display: flex;
  align-items: center;
}

/* Конец шапки */

/* Начало главного блока */

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  display: flex;
  background-size: cover;
  color: #FFF;
  text-transform: uppercase;
  flex-direction: column;
  padding: 160px 20px 50px;
}

.cover-title {
  display: grid;
  width: 100%;
}

.title-text {
  font-size: 100px;
  letter-spacing: 0.3em;
}

.title-text_left {
  padding-left: 30px;
  padding-top: 5px;
}

.title-text_center {
  text-align: center;
  padding-top: 18px;
  padding-left: 30px;
}

.title-text_right {
  text-align: right;
  padding-bottom: 106px;
  padding-top: 18px;
}

.overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  inset: 0;
}

.layer {
  position: relative;
  z-index: 1;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
  align-items: center;
  padding-right: 29px;
  padding-left: 32px;
}
.description-text {
  word-spacing: 18px;
}

.button-bet {
  border: 1px #FFF solid;
  color: #FFF;
  text-transform: uppercase;
  word-spacing: 1px;
  background: transparent;
  padding: 12px 32px;
}

/*Конец главного блока "УРА как долго))"*/

/*Начало карточек*/

.lots {
  padding: 178px 24px 120px;
}

.lots-title {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.card-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
  list-style: none;
  color: #FFF;
}

.lots-card {
  flex: 0 0 334px;
}

.lots-link {
  text-decoration: none;
}

.card {
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  width: 334px;
  min-height: 596px;
}

.lot-title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}

.lots-text {
  font-size: 20px;
}

.lots-more {
  display: inline-block;
  font-size: 20px;
  text-transform: lowercase;
  padding-top: 30px;
  padding-left: 40px;
}

/*Конец карточек*/

/*Начало секции Об аукционе*/

.about {
  display: flex;
  gap: 72px;
  align-items: flex-start;
  padding: 35px 30px 179px 71px;
}

.logo-about_background {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: stretch;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 100%;
}

.logo-about {
  width: 148px;
  height: 114px;
}

.about-content_text {
  display: flex;
  flex: 1;
  padding-top: 100px;
  flex-wrap: wrap;
}

.about-title {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 101px;
}

.about-text {
  font-size: 20px;
}
.about-indent {
  padding-top: 23px;
  line-height: 24px;
}

/*Конец секции Об аукционе*/

/*Начало футера*/

.footer {
  display: grid;
  font-size: 18px;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 400;
  color: #000;
  padding-bottom: 82px;
}

.link-list_footer {
  display: flex;
  justify-self: center;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  list-style: none;
  padding-top: 3px;
}

.list-social {
  display: flex;
  gap: 42px;
  justify-content: flex-end;
  list-style: none;
  padding-right: 47px;
}

.list-social_item {
  width: 54px;
  height: 51px;
  padding-top: 3px;
}

.contacts-footer {
  display: grid;
  justify-self: start;
  margin-left: 50px;
  line-height: 25px;
  max-width: 237px;
  font-style: normal;
  padding-top: 0;
}

/*Конец футера*/